{% extends 'base.html.twig' %}
 {% block title %} participant.getPseudo(){% endblock %}
{% block content %}
    <div>
        <h4><u>{{ participant.getPseudo() }}<br/></u></h4>
        <h5>Pseudo : {{ participant.getPseudo() }}</h5>
        <h5>Prénom : {{ participant.getPrenom() }}</h5>
        <h5>Nom : {{ participant.getNom() }}</h5>
        <h5>Téléphone : {{ participant.getTelephone() }}</h5>
        <h5>E-mail : {{ participant.getUser().getEmail() }}</h5>
        <h5>Campus : {{ participant.getCampus().getNom() }}</h5>

        <button type="button" onclick="history.back();" class="btn btn-secondary">Retour</button>

    </div>
{% endblock %}