{% extends 'base.html.twig' %}
 {% block title %}Afficher Profil{% endblock %}
{% block content %}
    <div>
        <h4><u>Afficher Profil<br/></u></h4>
        <h5>Pseudo : {{ participant.getPseudo() }}</h5>
        <h5>Prénom : {{ participant.getPrenom() }}</h5>
        <h5>Nom : {{ participant.getNom() }}</h5>
        <h5>Téléphone : {{ participant.getTelephone() }}</h5>
        <h5>E-mail : {{ participant.getUser().getEmail() }}</h5>
        <h5>Campus : {{ participant.getCampus().getNom() }}</h5>

        <a href="{{ path('app_profile_edit') }}"><button type="button" class="uk-button uk-button-secondary">Modifier le profil</button></a>
       <button type="button" onclick="history.back();" class="uk-button uk-button-secondary">Retour</button>

    </div>
{% endblock %}