<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# CSS #}
    <link href="{{ asset('assets/css/main-style.css') }}" rel="stylesheet"/>

    <title>Login</title>
    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}">
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
</head>
<body class="uk-flex uk-flex-center uk-flex-middle " data-uk-height-viewport>
<div class="uk-position-bottom-center uk-position-small uk-visible@m uk-position-z-index">
    <span class="uk-text-small uk-text-muted">© 2022 Copyright - <a href="https://github.com/AozoKoko/SortirCom.git">Created by le X, Pierrick, Kevin</a></span></a></span>
</div>
<!-- Ajout du logo -->
<div class="uk-navbar-center nav-overlay uk-flex-center">
    <img class="uk-logo-1" src="{{ asset('assets/img/logo.png') }}" alt="Logo"></a>

<div class="uk-width-medium uk-padding-small " >
    <!-- login -->
    <form class="toggle-class" method="post">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <fieldset class="uk-fieldset">
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                    <input class="uk-input uk-border-pill"  type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                    <input class="uk-input uk-border-pill"  type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

            </div>
            <div class="uk-margin-small">
                <label><input class="uk-checkbox" type="checkbox" name="_remember_me"> Keep me logged in</label>
            </div>
            <div class="uk-margin-bottom">
                <button type="submit" class="uk-button uk-button-secondary uk-border-pill uk-width-1-1">LOG IN</button>
            </div>
        </fieldset>
    </form>
    <!-- /login -->

    <!-- recover password -->
    <form class="toggle-class" action="login-dark.html" hidden>
        <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                <input class="uk-input uk-border-pill" placeholder="E-mail" required type="text">
            </div>
        </div>
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-secondary uk-border-pill uk-width-1-1">SEND PASSWORD</button>
        </div>
    </form>
    <!-- /recover password -->

    <!-- action buttons -->
    <div>
        <div class="uk-text-center">
            <a class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade">Forgot your password?</a>
            <a class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade" hidden><span data-uk-icon="arrow-left"></span> Back to Login</a>
        </div>
    </div>
    <!-- action buttons -->
</div>

<!-- JS FILES -->
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
</body>
</html>