{% extends '../base.html.twig' %}

<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>