{% extends 'base.html.twig' %}
{% block body %}
<p>Sorties</p>
<p>Sorties</p>
<p>Sorties</p>
<p>Sorties</p>
<a href="{{ path('app_sortie') }}">Sorties Find All 1</a> <br>
<a href="{{ path('app_findall_sorties') }}">Sorties Find All 2</a> <br>
<a href="{{ path('app_modif_sortie', { "id" : 1}) }}">Modif Sortie by ID</a> <br>
<a href="{{ path('app_new_sortie') }}">New Sortie</a> <br>
<a href="{{ path('app_show_sortie', { "id" : 1}) }}">Select Sortie by ID</a> <br>
<a href="{{ path('app_suppr_sortie', { "id" : 1}) }}">Supprimer Sortie by ID</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>
<a href="{{ path('app_logout') }}">Logout</a> <br>

{% endblock %}