{% extends 'base.html.twig' %}

 {% block title %}Afficher Sortie{% endblock %}
{% block content %}
    <div>
        <h4><u>Sortie : {{ sortie.nom }}<br/></u></h4>
        <h5>Nom : {{ sortie.nom }}</h5>
        <h5>Date heure du début : {{ sortie.dateHeureDebut |date('d-m-Y') }}</h5>
        <h5>Nombre d'inscriptions restantes : {{ getInscriptionsRestantes }}</h5>
        <h5>Durée : {{ sortie.duree }} jours</h5>
        <h5>Date limite d'inscription : {{ sortie.dateLimiteInscription |date('d-m-Y') }}</h5>
        <h5>Infos sortie : {{ sortie.infosSortie }}</h5>
        <h5>Organisateur : {{ nomOrga ~" "~ prenomOrga }}</h5>
        <h5>Lieu : {{ sortie.lieu }}</h5>
        <h5>Campus : {{ sortie.campus }}</h5>

        {%if sortie.dateLimiteInscription < dateNow %}
            <h2>La date d'inscription a été dépassée</h2>



        {% elseif sortie.organisateur.id == userID %}
            <a href="{{ path('app_modif_sortie',{'id': sortie.id}) }}">
                <button type="button" class="btn btn-primary">Modifier la sortie</button>
            </a>
        {% elseif not isInscrit and listeParticipant|length == 0 %}
            <a href="{{ path('app_inscription_sortie',{'id': sortie.id , 'idParticipant': userID}) }}">
                <button type="button" class="btn btn-primary">S'incrire</button>
            </a>
            {% elseif  isInscrit and listeParticipant|length > 0  %}
                <a href="{{ path('app_desister_sortie',{'id': sortie.id , 'idParticipant': userID}) }}">
                    <button type="button" class="btn btn-primary">Se desister</button>
                </a>

        {% endif %}
        <button type="button" onclick="history.back();" class="btn btn-primary">Retour</button><br><br>
    </div>
    <div>
        {% for participant in listeParticipant %}
            <div class="space">
                    {{ participant.nom }}, {{ participant.prenom }}  <a href="{{ path('app_vue_other_profile', {'id': participant.id}) }}" class="btn btn-primary">Afficher</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}