{% extends 'base.html.twig' %}


{% block content %}
    <div class=uk-child-width-1-2@s uk-grid-match" uk-grid>

    {% for item in listeSortie %}

                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h5 class="card-title">{{item.nom}}</h5>
                        <p class="card-text">{{ item.dateHeureDebut |date('d-m-Y') }}</p>
                        <p class="card-text">{{ item.duree }}</p>
                        <p class="card-text">{{ item.dateLimiteInscription |date('d-m-Y') }}</p>
                        <p class="card-text">{{ item.nbInscriptionsMax }}</p>
                        <p class="card-text">{{ item.infosSortie }}</p>
                        <p class="card-text">{{ item.organisateur }}</p>
                        <p class="card-text">{{ item.lieu }}</p>
                        <a href="{{ path('app_delete_sortie',{'id': item.id}) }}" class="btn btn-primary">Supprimer</a>
                    </div>
                </div>

    {% endfor %}
    </div>
{% endblock %}
